{% extends '_base.html' %}
{% load static %}

{% block content %}
<div class='main-part-no'>
    <nav class=" navbar sticky-top ">
        <div class="container-fluid">
          <a class="mynav navbar-brand" href="{% url 'groups:all' %}">Star Social</a>
          <div class='d-flex'>
            {% if user.is_authenticated %}
            <a class='mynav nav-link-margin-right' href="{% url 'posts:for_user' user.username %}">@{{ user.username }}</a>
            <a class=' mynav nav-link-margin-right' href="{% url 'posts:all' %}">Posts</a>
            <a class='mynav nav-link-margin-right' href="{% url 'groups:all' %}">Groups</a>
            <a class='mynav nav-link-margin-right' href="{% url 'groups:create'  %}">New Group</a>
            <a class=' mynav ' href="{% url 'posts:create' %}">New Post</a>
          {% endif %}
        </div>
        </div>
    </nav>
    <div class='container mycontent'>   
        {% block contentt %}
        {% endblock contentt %}
    </div>
    <canvas id="canvas"></canvas>
</div>
<script type='text/javascript' src="{% static 'simplesocial/js/master.js' %}"></script>
{% endblock content %} 