{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class='row'>
    <div class='text-center py-5'>
        {% if key %}
            <h1>Activation Error. Please try again. </h1>
        {% else %}
            <h1>Reactivate your Email below.</h1>
        {% endif %}
        
    </div>
    <div class='text-center col-md-6 mx-auto'>
        <form action="" method='post'>
            {% csrf_token %}
            {{ form|crispy }}
            <input class='btn btn-success my-1' type="submit" value='Resend Activation'>
        </form>
    </div>
</div>
{% endblock content %}