.navbar-button-left {
  margin-right: 5px;
}
.main-photo{
  height: 10%;
  width: auto;
}
.btn-margin-up {
  margin-top: 5px;
}
.btn-margin-down {
  margin-bottom: 5px;
}
.form-margin {
  margin: 0 10px;
}
.main-part {
  margin: 10px;
}
.link-without-underline {
  text-decoration: None;
}
.asteriskField {
  display: none;
}
.comment-text {
  width: 200px;
}
.bookcover {
  height: 200px;
  width: auto;
  
}
table, th, td{
  border: 2px solid black;
}
.username{
  text-decoration: underline;
}
.username:hover{
  color: #198754;
}
.user-photo{
  width: 2.0em;
  height: 2.0em;
  border-radius: 50%;
}
.nav-link-margin-right{
  margin-right: 10px;
}