{% extends '_base.html' %}

{% block content %}
    <h1>Welcome to the school detail page</h1>
    <h2>School details:</h2>
    <p>Name: {{ school_detail.name }}</p>
    <p>Principal: {{ school_detail.principal }}</p>
    <p>Location: {{ school_detail.location }}</p>
    <h3>Students:</h3>
    {% for student in school_detail.students.all %}
        <p>{{ student.name }} who is {{ student.age }} years old.</p>
    {% endfor %}

    <p><a class='btn btn-warning' href="{% url 'basic_app:update' school_detail.pk %}">Update</a></p>
    <p><a class='btn btn-warning' href="{% url 'basic_app:delete' school_detail.pk %}">Delete</a></p>
{% endblock content %}