{% extends '_base.html' %}

{% block title %}Blog{% endblock title %}

{% block content %}
    <h1>Blog</h1>
    <p><a href="{% url 'note_new' %}">Add new note</a></p>
    <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for note in object_list %}
        <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title"><a class='link-without-underline' href="{% url 'note_detail' note.pk %}">{{ note.title }}</a></h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ note.author }}</h6>
                <p class="card-text">{{ note.body }}</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated {{ note.last_updated }}</small>
              </div>
            </div>
        </div>    
    {% endfor %}
    <div>
{% endblock content %}