{% extends '_base.html' %}

{% block title %}Blog Detail{% endblock title %}

{% block content %}
    <p><a href="{% url 'blog' %}">&lArr; Back to all notes</a></p>
    <br>
    <div class='note-entry'>
        <h2>{{ note.title }}</h2>
        <p>{{ note.author }}</p>
        <p>{{ note.date_time }}</p>
        <p>{{ note.body }}</p>
    </div>
    <br>
        {% if note.author == user %}
            <a href="{% url 'note_edit' note.pk %}">+ Edit Blog Note</a><br>
            <a href="{% url 'note_delete' note.pk %}">+ Delete Blog Note</a>
        {% endif %}
        {% if note.comments.all %}
                {% for comment in note.comments.all %}
                    <p class='comment'><span class='author'>{{ comment.author}}</span> &middot; {{ comment }}</p>
                {% endfor %}
        {% endif %}
        <a class='leave_comment' href="{% url 'leave_comment' note.pk %}">+ leave comment</a>
{% endblock content %}