{% extends 'products/_base.html' %}
{% load crispy_forms_tags %}

{% block contentt %}
    {% if not billing_profile %}
        <div class='row'>
            <div class='col-md-6'>
                <form class='form-margin' action="{% url 'account_login' %}" method='post'>
                    <h1>Log In</h1>
                    {% if next %}
                        <input type="hidden" name='next' value='{{ next }}'>
                    {% endif %}
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class='btn btn-primary' type='submit'>Log In</button>
                </form>
            </div>
            <div class='col-md-6'>
                {% url 'guest_register' as guest_register_url %}
                <form class='form-margin' action="{{ guest_register_url }}" method='post'>
                    <h1>Continue as Guest</h1>
                    {% if next %}
                        <input type="hidden" name='next' value='{{ next }}'>
                    {% endif %}
                    {{ guest_form|crispy }}
                    {% csrf_token %}
                    <button class='btn btn-primary my-1' type='submit'>Submit</button>
                </form>
            </div>
        </div>
    {% else %}

        {% if not object.shipping_address and shipping_address_required %}
            <div class='row'>
                <div class='col-12'>
                    <h1>Shipping Address</h1>
                    <hr>
                </div>
                <div class='col-6'>
                    {% url 'checkout_address_create' as checkout_address_create %}
                    {% include 'addresses/form.html' with form=address_form action_url=checkout_address_create address_type='shipping' %}
                </div>
                <div class='col-6'>
                    {% url 'checkout_address_reuse' as checkout_address_reuse%}
                    {% include 'addresses/prev_addresses.html' with address_qs=address_qs address_type='shipping' action_url=checkout_address_reuse%}
                </div>
            </div>
        {% elif not object.billing_address %}
            <div class='row'>
                <div class='col-12'>
                    <h1>Billing Address</h1>
                    <hr>
                </div>
                <div class='col-6'>
                    {% url 'checkout_address_create' as checkout_address_create %}
                    {% include 'addresses/form.html' with form=address_form action_url=checkout_address_create address_type='billing' %}
                </div>
                <div class='col-6'>
                    {% url 'checkout_address_reuse' as checkout_address_reuse%}
                    {% include 'addresses/prev_addresses.html' with address_qs=address_qs address_type='billing' action_url=checkout_address_reuse%}
                </div>
            </div>
        {% else %}
            {% if not has_card %}
                <div class='col-10 col-md-6 mx-auto'>
                    <h1>Add Payment Method</h1>
                    <div class='stripe-payment-form' data-token='{{publish_key}}' 
                    data-next-url='{{ request.build_absolute_uri }}'
                    data-btn-title='Add Payment Method'>
                    </div>  
                
                </div>
            {% else %}
                <h1>Finalize Checkout:</h1>
                <p>Cart Items: {% for product in object.cart.products.all %}{{ product }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
                <p>Shipping Address: {{ object.shipping_address.get_address }}</p>
                <p>Billing Address: {{ object.billing_address.get_address }}</p>
                <p>Payment Method: {{ billing_profile.default_card }}(<a href=
                    '{{ billing_profile.get_payment_method_url }}?next={{ request.build_absolute_uri }}'>Change</a>)</p>
                <p>Cart Total: {{ object.cart.total }}</p>
                <p>Shipping Total: {{ object.shipping_total }}</p>
                <p>Order Total: {{ object.total }}</p>
                <form class='form' method='post' action="">
                    {% csrf_token %}
                    <button class='btn btn-success' type='submit'>Checkout</button>
                </form>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock contentt %}